---
#
# Installing Filebeat
#

# Install Filebeat

# - name: Install Filebeat with apt
#   apt:
#    name: filebeat
#    update_cache: yes
#
# # Starting Filebeat
#
# - name: Starting Filebeat
#   service:
#    name: filebeat
#    state: started

  - name: Download filebeat .deb file
    command: curl -L -O https://artifacts.elastic.co/downloads/beats/filebeat/filebeat-7.4.0-amd64.deb

    # Use command module
  - name: Install filebeat .deb
    command: dpkg -i filebeat-7.4.0-amd64.deb

    # Use copy module
  - name: Drop in filebeat.yml
    copy:
      src: ./filebeat.yml
      dest: /etc/filebeat/filebeat.yml

    # Use command module
  - name: Start filebeat service
    command: service filebeat start
